.client-card{
    margin: 3% 0;
    padding: 5%;
    border: 1px solid white;
    border-radius: 10px;
}

.client-card h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 3%;
}

.client-card p{
    margin: 10% 0 5%;
    font-size: 1rem;
}

.live-button, .github-button{
    margin: 3% 0;
    padding: 2% 5%;
    width: 40%;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
}

a.live-button, a.github-button{
    text-decoration: none;
}


.live-button, .live-button:hover{
    color: white;
    background-color: brown;
}
.github-button, .github-button:hover{
    color: black;
    background-color: white;
    margin-left: 10px;
}

.client-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.client-img{
    width: 100%;
}

@media only screen and (max-width: 991px){
    .client-card{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 10%;
    }

    .client-img{
        width: 50%;
    }

    .client-card h4{
        margin-top: 10%;
    }

    .client-card p{
        margin-top: 5%;
    }
    
}