.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.content {
  background-color: black;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

/* Home CSS Styles */

.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 5px;
  text-align: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.navbar.scrolled {
  background-color: rgb(0, 0, 0);
}

.nav-links {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 7px 40px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.nav-links li a:hover {
  color: #4d20ff;
}

.section {
  padding: 40px 0;
  text-align: center;
}

.section h2 {
  margin-bottom: 20px;
}

.des-by {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 1rem;
}

.name {
  text-decoration: none;
  color: #4d20ff;
}

.name:hover {
  color: aquamarine;
}

.des-by a{
  font-size: 1rem;
}

.des-by p{
  font-size: 1rem;
}

